<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts Flexbox</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <!-- esta seccion sera el contenedor padre -->
    <section class="container">
        <!-- elementos hijos -->
        <section class="element1">1. Python</section>
        <section class="element2">2. Html</section>
        <section class="element3">3. Css</section>
        <section class="element4">4. Javascript</section>
        <section class="element5">5. Typescript</section>
        <section class="element6">6. Mysql</section>
        <section class="element7">7. Node Js</section>
        <section class="element8">8. MongoDB</section>
    </section>
</body>
</html>